<!-- eslint-disable @angular-eslint/template/interactive-supports-focus -->
<div class="flex justify-content-center align-items-center px-2">
  <div class="card border-orange-500 w-30rem shadow-6 p-6">
    <form [formGroup]="registerForm" (keydown.enter)="this.onRegisterWithEmailClick()" autocomplete="off">
      <h2 class="text-3xl mb-6">Registrarse</h2>
      <div class="flex flex-column justify-content-between gap-4">
        <div class="flex flex-column justify-content-between gap-5">
          <div>
            <span class="w-full p-float-label mb-2">
              <input
                pInputText
                type="text"
                id="email"
                name="email"
                class="w-full h-3rem"
                formControlName="email"
                autocomplete="email"
              />
              <label for="email">Correo electrónico</label>
            </span>
            @if (registerForm.get("email")?.invalid && registerForm.get("email")?.touched) {
              <small class="p-error block" *ngIf="registerForm.get('email')?.errors?.['required']">
                El correo electronico es obligatorio.
              </small>
              <small class="p-error block" *ngIf="registerForm.get('email')?.errors?.['email']">
                Correo electronico invalido.
              </small>
              <small class="p-error block" *ngIf="registerForm.get('email')?.errors?.['']">
                El email que intentas utilizar ya se encuentra registrado.
              </small>
            }
          </div>
          <div>
            <span class="w-full p-float-label mb-2">
              <p-password
                type="password"
                inputId="password"
                name="password"
                class="w-full h-3rem"
                styleClass="border-orange-500 "
                formControlName="password"
                autocomplete="new-password"
                promptLabel="Escribe una contraseña"
                [toggleMask]="true"
                [feedback]="true"
                [style]="{ width: '100%' }"
                [inputStyle]="{ width: '100%', height: '3rem' }"
              >
                <ng-template pTemplate="footer">
                  <p-divider></p-divider>
                  <p class="mt-2">Se debe utilizar:</p>
                  <ul class="m-0 p-0 list-none" style="line-height: 1.75">
                    @for (item of passwordRequirements; track $index) {
                      <li class="flex align-items-center gap-2">
                        <i
                          class="pi"
                          [ngClass]="item.valid ? 'pi-check' : 'pi-times'"
                          [ngStyle]="{ color: item.valid ? 'green' : 'red' }"
                        ></i>
                        {{ item.message }}
                      </li>
                    }
                  </ul>
                </ng-template>
              </p-password>
              <label for="password">Contraseña</label>
            </span>
            @if (registerForm.get("password")?.invalid && registerForm.get("password")?.touched) {
              <small class="p-error block" *ngIf="registerForm.get('password')?.errors?.['required']">
                La contraseña es obligatoria.
              </small>
              <small class="p-error block" *ngIf="registerForm.get('password')?.errors?.['minlength']">
                La contraseña debe contener al menos 8 caracteres
              </small>
            }
          </div>
        </div>
        <p-button
          styleClass="w-full h-3rem text-color mt-2"
          severity="secondary"
          label="Registrarse"
          (onClick)="onRegisterWithEmailClick()"
        />
        <p-divider />
        <p-button
          styleClass="w-full h-3rem text-color"
          icon="pi pi-google"
          label="Google"
          severity="secondary"
          [outlined]="true"
          (onClick)="onSignInWithGoogleClick()"
        />
      </div>
      <div class="flex justify-content-center align-items-center mt-6">
        <span>¿Ya tiene una cuenta?</span>
        <p-button size="small" label="Iniciar Sesión" severity="info" routerLink="/auth/iniciar-sesion" [text]="true" />
      </div>
    </form>
  </div>
</div>
