@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";
@import "primeicons/primeicons.css";

html {
  scrollbar-gutter: stable;
  scroll-behavior: auto;
}

body {
  margin: 0;
  background-color: var(--surface-ground);
}

.bg-black {
  background-color: black;
}

.aspect-ratio-75-67 {
  aspect-ratio: 75 / 67;
}

.min-h-calc {
  min-height: calc(100vh - 200px);
}

.p-galleria .p-galleria-item-nav {
  background-color: rgba(0, 0, 0, 0.25) !important;
  width: 2.5rem;
  height: 3rem;
}

.p-galleria .p-galleria-item-nav .p-icon-wrapper {
  color: rgb(255, 255, 255) !important;
}

.p-galleria-thumbnail-container {
  padding-inline: 0;
  padding-bottom: 0;
}

.p-galleria-thumbnail-items {
  gap: 1rem;
}

.p-galleria-thumbnail-items > * {
  flex: 1 0 calc(25% - 0.75rem) !important;
}

.card {
  background-color: #000000;
  border-radius: var(--border-radius);
  border: 1px solid var(--surface-border);
}
